@font-face {
    font-family: Daniel Jaques;
    src: url(../fonts/DanielJaques.ttf);
}

@font-face {
    font-family: Sans Mateo;
    src: url(../fonts/sans_mateo/SansMateo.ttf);
}

@font-face {
    font-family: Sans Mateo B;
    src: url(../fonts/sans_mateo/SansMateoBold.ttf);
}

@font-face {
    font-family: Sans Mateo BI;
    src: url(../fonts/sans_mateo/SansMateoBoldItalic.ttf)
}

main {
    height: 87vh;
    width: auto;
    display: grid;
    justify-items: center;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

#members {
    background-image: url(../images/members.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100vh;
    margin:auto;
}

#vault {
    /* background-image: url(../images/vault-background.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: black;
}

#inquiry {
    background-image: url(../images/vault-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

a {
    text-decoration: none; /* links will not be underlined */
}

/* flex box for navbar */
.nav-flexbox-container {
    display: flex;
    justify-content: center;
    position: sticky;
}

/* navbar flexbox items */
.nav-flexbox-item {
    width: 110px;
    height: 32px;
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    /* color: white; */
}

/* all navbar items besides the logo */
.nav-item {
    transition: .5s;
    font-size: 18px;
    font-family: Sans Mateo;
    color:rgba(255, 255, 255, 0.427)
}

.nav-item:hover {
    transition: 0.45s;
    color:rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 8px;
}

/* navbar logo */
.nav-logo {
    transition: 0.5s;
    font-size: 36px;
    font-family: Daniel Jaques;
    width: 200px;
    margin-top: 2px;
    margin-right: 17px;
    color: white;
    white-space: nowrap;
}

.nav-logo:hover {
    transition: 0.5s;
    font-size: 38px;
    margin-right: 20px;
    margin-left: 2px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.393), 0 0 20px rgba(255, 255, 255, 0), 0 0 30px #fffefea3, 0 0 40px #ffffff66, 0 0 50px #ffffff12, 0 0 60px #ffffff66, 0 0 70px #ffffffb5;
}

.footer {
    margin-top: auto; /* Ensures footer stays at the bottom of page */
    justify-content: center;
}

.footer-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.footer-item {
    transition: 0.75s;
    text-align: center;
    color:rgba(255, 255, 255, 0.427);
    font-family: Daniel Jaques;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    justify-items: center;
}

hr {
    color: white;
}

#egg-progress {
    display: flex;
    justify-content: center;
}

/* home.html social media footer */
#social-media-icons {
    display: flex;
    justify-content: center;
}

#twitter-logo {
    background:transparent url('../icons/twitter.png');
    width: 30px;
    height: 30px;
    z-index: 1;
    text-indent: -9999em;
}

#twitter-logo:hover {
    background: url('../icons/twitter-c.png');
    z-index:2;
}

/* footer social media icon */
.social-icon {
    padding-top: 1%;
    margin-left: 8px;
    margin-right: 8px;
}

.egg-icon {
    cursor: pointer;
}

.inquiry-container {
    margin: 5% 200px 200px;
    display: grid;
    height: 65%;
    width: 70%;
    background-color: rgba(128, 128, 128, 0.389);
    color: white;
    justify-items: center;
}

.inquiry-title {
    font-family: Daniel Jaques;
    font-size: 4em;
    color: white;
}

.inquiry-subtitle {
    font-family: Sans Mateo;
    font-size: 2em;
    color: white;
}

/* MEMBERS */
#members {
    /* background-image: url(../images/members.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    max-height: 100vh;
    margin:auto; */
}

.members-container {
    scroll-snap-type: y mandatory;
}
.members-child {
    scroll-snap-align: start;
    min-width: 100vw;
    min-height: 100vh; 
}
.members-child img{
    min-width: 100vw;
    height: 100vh;
    /* width:100%;
    height:100%;
    max-width: 100vw;
    max-height: 100vh; */
    object-fit: cover;
    background-repeat: no-repeat;
}

/* VAULT FLEXCARDS */

.vault-container {
    margin: 15% 200px 200px;
    /* display: grid; */
    height: 45%;
    width: 70%;
    /* background-color: gray; */
    color: white;
    justify-items: center;
}

#vault-title-head {
    text-align: center;
    font-family: Daniel Jaques;
    font-size: 10em;
    letter-spacing: 0.15em;
}

#vault-title-sub {
    text-align: center;
    font-family: Sans Mateo;
    font-size: 3em;
}

#vault-menu {
    display: flex;
    justify-content: center;
}

.vault-menu-item {
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-family: Sans Mateo;
    font-size: 2em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    color: rgba(255, 255, 255, 0.773);
}

.vault-menu-item:visited, .vault-menu-item:active {
    color: white;
}

.vault-menu-item:hover {
    color: white;
    transition: 0.5s;
    cursor: pointer;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.393), 0 0 20px rgba(255, 255, 255, 0), 0 0 30px #fffefea3, 0 0 40px #ffffff66, 0 0 50px #ffffff12, 0 0 60px #ffffff66, 0 0 70px #ffffffb5;
}


.scroll-div {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 50%;
    
    height: 95%;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-object {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
}




.live-regime-container {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 1%;
    margin-bottom: 1%;
    height: 83vh;
    width: 87vw;
    border: solid 2px white;
    border-radius: 20px;
}