.mem-wrapper {
    display: flex;
    flex: 1 0 auto;
}

.mem-container {
    flex-basis: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    /* border: 1px solid gray; */
    scroll-snap-type: y mandatory;
    
}

.mem-child {
    scroll-snap-align: start;
    border-bottom: 1px solid black;
    /* padding: 3rem; */
    font-size: 1.4rem;
    color: rgba(rgb(0, 0, 0), .5);
    background: rgb(0, 0, 0);
    text-align: center;
    scroll-snap-align: start;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* min-height: 1000px; */
    height: 100vh;
    display: grid;
    
    /* grid-template-columns: 500px 500px; */

}

.mem-child img {
    transition: 1s;
    margin-top: 50%;

    width: 500px;
    height: 315px;

    border-radius: 2%;
}

.mem-child img:hover {
    transition: 1s;
    margin-top: 2.5%;
    width: 1000px;
    height: 630px;


}


.members-base {
    background-image: url(../images/members2.jpg);
    background-repeat: no-repeat;

}
