@font-face {
    font-family: Daniel Jaques;
    src: url(../fonts/DanielJaques.ttf);
}

@font-face {
    font-family: Sans Mateo;
    src: url(../fonts/sans_mateo/SansMateo.ttf);
}

@font-face {
    font-family: Sans Mateo B;
    src: url(../fonts/sans_mateo/SansMateoBold.ttf);
}

@font-face {
    font-family: Sans Mateo BI;
    src: url(../fonts/sans_mateo/SansMateoBoldItalic.ttf)
}

a {
    text-decoration: none; /* links will not be underlined */
}

/* flex box for navbar */
.nav-flexbox-container {
    display: flex;
    justify-content: center;
    position: sticky;
}

/* navbar flexbox items */
.nav-flexbox-item {
    width: 110px;
    height: 32px;
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    /* color: white; */
}

/* all navbar items besides the logo */
.nav-item {
    transition: .5s;
    font-size: 18px;
    font-family: Sans Mateo;
    color:rgba(255, 255, 255, 0.427)
}

.nav-item:hover {
    transition: 0.45s;
    color:rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 8px;
}

/* navbar logo */
.nav-logo {
    transition: 0.5s;
    font-size: 36px;
    font-family: Daniel Jaques;
    width: 200px;
    margin-top: 2px;
    margin-right: 17px;
    color: white;
    white-space: nowrap;
}

.nav-logo:hover {
    transition: 0.5s;
    font-size: 38px;
    margin-right: 20px;
    margin-left: 2px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.393), 0 0 20px rgba(255, 255, 255, 0), 0 0 30px #fffefea3, 0 0 40px #ffffff66, 0 0 50px #ffffff12, 0 0 60px #ffffff66, 0 0 70px #ffffffb5;
}

#mem {
    background-image: url(/images/members/members2.JPG);
    background-size: cover;
    background-color: black;
}

#mem-background {
    /* width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1; */

    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.mem-wrapper {
    display: flex;
    flex-direction: column;
}

.mem-container {
    flex-basis: 100%;
    max-height: 98vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.mem-child {
    scroll-snap-align: start;
    font-size: 1.4rem;
    text-align: center;
    scroll-snap-align: start;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 95vh; /*How close the cards are to the top*/
    display: grid;
    /* background-color: #fffefea3; */
    border-bottom: solid black 1px;
    z-index: -1;
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
}

.mem-base {
    background-color: #fffefe00;
}

.mem-photo {
    padding-top: 10%;
    padding-left: 5%;
}
.mem-img {
    height: auto;
    width: 90%;
    border-radius: 10px;
    border: white solid 1px;
    position: relative;
}

.mem-name {
    padding-top: 3.5%;
    font-family: Daniel Jaques;
    font-size: 4em;
    text-transform: uppercase;
    text-align: left;
    margin-left: 3%;
    color: white;
    position: relative;
}

.mem-info {
    text-align: left;
    font-family: Sans Mateo;
    font-size: .7em;
    margin-left: 3%;
    color: white;
    z-index: 20;
    position: relative;
}

.mem-back-img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

#aidan-bio.mem-child::before {
    content: "";
    background-image: url('../images/vault/bbar3.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
}

#colin-bio.mem-child::before {
    content: "";
    background-image: url('../images/vault/bbar2.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
}

#erik-bio.mem-child::before {
    content: "";
    background-image: url('../images/vault/bbar5.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
}

#jason-bio.mem-child::before {
    content: "";
    background-image: url('../images/vault/bbar4.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
}